<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="problem"
         name="Flix Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="de.hetzge.eclipse.flix"
            name="Flix"
            file-extensions="flix"
            base-type="org.eclipse.core.runtime.text"
            priority="normal">
      </content-type>
   </extension>
<!--   <extension-->
<!--         point="org.eclipse.core.runtime.preferences">-->
<!--      <initializer-->
<!--            class="org.lxtk.lx4e.internal.examples.proto.ProtoPreferenceInitializer">-->
<!--      </initializer>-->
<!--   </extension>-->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="de.hetzge.eclipse.flix.editor"
            name="Flix Editor"
            default="false"
            class="de.hetzge.eclipse.flix.internal.editor.FlixEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
         <contentTypeBinding
               contentTypeId="de.hetzge.eclipse.flix">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.hetzge.eclipse.flix.editor.scope"
            parentId="org.eclipse.ui.textEditorScope"
            name="Editing Flix Source"
            description="Editing Flix Source Context">
      </context>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            scopeName="source.flix"
            path="syntaxes/flix.tmLanguage.json" >
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="de.hetzge.eclipse.flix"
            scopeName="source.flix">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="de.hetzge.eclipse.flix"
            path="language-configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.tm4e.ui.themes">
      <themeAssociation
            scopeName="source.flix"
            themeId="org.eclipse.tm4e.ui.themes.Light">
      </themeAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.hetzge.eclipse.flix.internal.FlixMarkerResolutionGenerator"
            markerType="de.hetzge.eclipse.flix.problem">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.createParticipants">
      <createParticipant
            class="de.hetzge.eclipse.flix.internal.refactoring.FlixResourceParticipant$Create"
            id="de.hetzge.eclipse.flix.refactoring.create"
            name="Flix create participant">
         <enablement>
            <adapt type="org.eclipse.core.resources.IResource"></adapt>
         </enablement>
      </createParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="de.hetzge.eclipse.flix.internal.refactoring.FlixResourceParticipant$Delete"
            id="de.hetzge.eclipse.flix.refactoring.delete"
            name="Flix delete participant">
         <enablement>
            <adapt type="org.eclipse.core.resources.IResource"></adapt>
         </enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.copyParticipants">
      <copyParticipant
            class="de.hetzge.eclipse.flix.internal.refactoring.FlixResourceParticipant$Copy"
            id="de.hetzge.eclipse.flix.refactoring.copy"
            name="Flix copy participant">
         <enablement>
            <adapt type="org.eclipse.core.resources.IResource"></adapt>
         </enablement>
      </copyParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="de.hetzge.eclipse.flix.internal.refactoring.FlixResourceParticipant$Move"
            id="de.hetzge.eclipse.flix.refactoring.move"
            name="Flix move participant">
         <enablement>
            <adapt type="org.eclipse.core.resources.IResource"></adapt>
         </enablement>
      </moveParticipant>
   </extension>
</plugin>
