<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="problem" name="Flix Problem" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"></super>
		<super type="org.eclipse.core.resources.textmarker"></super>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="de.hetzge.eclipse.flix" name="Flix" file-extensions="flix" base-type="org.eclipse.core.runtime.text" priority="normal"></content-type>
	</extension>
	<!--   <extension-->
	<!--         point="org.eclipse.core.runtime.preferences">-->
	<!--      <initializer-->
	<!--            class="org.lxtk.lx4e.internal.examples.proto.ProtoPreferenceInitializer">-->
	<!--      </initializer>-->
	<!--   </extension>-->
	<extension point="org.eclipse.ui.editors">
		<editor class="de.hetzge.eclipse.flix.editor.FlixEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" default="false" icon="assets/icons/icon.png" id="de.hetzge.eclipse.flix.editor" name="Flix Editor">
			<contentTypeBinding contentTypeId="de.hetzge.eclipse.flix"></contentTypeBinding>
		</editor>
	</extension>
	<extension point="org.eclipse.ui.contexts">
		<context id="de.hetzge.eclipse.flix.editor.scope" parentId="org.eclipse.ui.textEditorScope" name="Editing Flix Source" description="Editing Flix Source Context"></context>
	</extension>
	<extension point="org.eclipse.tm4e.registry.grammars">
		<grammar scopeName="source.flix" path="syntaxes/flix.tmLanguage.json"></grammar>
		<scopeNameContentTypeBinding contentTypeId="de.hetzge.eclipse.flix" scopeName="source.flix"></scopeNameContentTypeBinding>
	</extension>
	<extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
		<languageConfiguration contentTypeId="de.hetzge.eclipse.flix" path="language-configuration.json"></languageConfiguration>
	</extension>
	<extension point="org.eclipse.tm4e.ui.themes">
		<themeAssociation scopeName="source.flix" themeId="org.eclipse.tm4e.ui.themes.Light"></themeAssociation>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="de.hetzge.eclipse.flix.FlixMarkerResolutionGenerator" markerType="de.hetzge.eclipse.flix.problem"></markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target id="de.hetzge.eclipse.flix.editor" name="Flix Hyperlink Target"></target>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector activate="true" class="org.lxtk.lx4e.ui.hyperlinks.DeclarationHyperlinkDetector" id="asdasdasdadas" name="name" targetId="de.hetzge.eclipse.flix.editor"></hyperlinkDetector>
	</extension>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType name="Flix launch" delegate="de.hetzge.eclipse.flix.launch.FlixLaunchConfigurationDelegate" modes="run" id="de.hetzge.eclipse.flix.launchConfigurationType"></launchConfigurationType>
		<launchConfigurationType name="Flix test launch" delegate="de.hetzge.eclipse.flix.launch.FlixTestLaunchConfigurationDelegate" modes="run" id="de.hetzge.eclipse.flix.testLaunchConfigurationType"></launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage id="de.hetzge.eclipse.flix.launchConfigurationType.image" configTypeID="de.hetzge.eclipse.flix.launchConfigurationType" icon="assets/icons/icon.png" />
		<launchConfigurationTypeImage configTypeID="de.hetzge.eclipse.flix.testLaunchConfigurationType" icon="assets/icons/icon3.png" id="de.hetzge.eclipse.flix.testLaunchConfigurationType.image"></launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="de.hetzge.eclipse.flix.wizards" name="Flix"></category>
		<wizard category="de.hetzge.eclipse.flix.wizards" class="de.hetzge.eclipse.flix.project.FlixFileWizard" icon="assets/icons/icon.png" id="de.hetzge.eclipse.flix..newfile" name="Flix File">
			<description>
				Create a Flix file
			</description>
		</wizard>

		<wizard category="de.hetzge.eclipse.flix.wizards" class="de.hetzge.eclipse.flix.project.FlixProjectWizard" icon="assets/icons/icon.png" id="de.hetzge.eclipse.flix.newProject" name="Flix Project" project="true">
			<description>
				Create a Flix project
			</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut class="de.hetzge.eclipse.flix.launch.FlixLaunchShortcut" icon="assets/icons/icon.png" id="de.hetzge.eclipse.flix.launchShortcut" label="Flix run" modes="run">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="+"></count>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut class="de.hetzge.eclipse.flix.launch.FlixTestLaunchShortcut" icon="assets/icons/icon3.png" id="de.hetzge.eclipse.flix.testLaunchShortcut" label="Flix test run" modes="run">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="+"></count>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup class="de.hetzge.eclipse.flix.launch.FlixLaunchTabGroup" id="de.hetzge.eclipse.flix.launchTabGroups" type="de.hetzge.eclipse.flix.launchConfigurationType"></launchConfigurationTabGroup>
		<launchConfigurationTabGroup class="de.hetzge.eclipse.flix.launch.FlixTestLaunchTabGroup" id="de.hetzge.eclipse.flix.testLaunchTabGroups" type="de.hetzge.eclipse.flix.testLaunchConfigurationType"></launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchGroups">
		<launchGroup bannerImage="assets/icons/icon.png" id="de.hetzge.eclipse.flix.launchGroup" image="assets/icons/icon.png" label="Flix Launch Group" mode="run"></launchGroup>
		<launchGroup bannerImage="assets/icons/icon3.png" id="de.hetzge.eclipse.flix.testLaunchGroup" image="assets/icons/icon3.png" label="Flix Test Launch Group" mode="run"></launchGroup>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="de.hetzge.eclipse.flix.editor.quickOutline" categoryId="org.eclipse.ui.category.navigate" name="Quick Outline (Flix)" description="Show the quick outline for the editor input" defaultHandler="de.hetzge.eclipse.flix.editor.FlixOutlinePopupHandler"></command>
		<command id="de.hetzge.eclipse.flix.editor.rename" categoryId="org.eclipse.ltk.ui.category.refactoring" name="Rename (Flix)" description="Rename the selected symbol" defaultHandler="de.hetzge.eclipse.flix.editor.FlixRenameHandler"></command>
		<command id="de.hetzge.eclipse.flix.openSymbol" categoryId="org.eclipse.ui.category.navigate" name="Open Symbol (Flix)" description="Show a list of workspace-wide symbols" defaultHandler="de.hetzge.eclipse.flix.FlixSymbolSelectionHandler"></command>
		<command id="de.hetzge.eclipse.flix.nature.create" defaultHandler="de.hetzge.eclipse.flix.project.FlixProjectNatureHandler" description="Converts the project to a Flix project" name="Add Flix project nature"></command>
		<command id="de.hetzge.eclipse.flix.editor.findReferences" categoryId="org.eclipse.search.ui.category.search" name="Find References (Flix)" description="Find references to the selected symbol" defaultHandler="de.hetzge.eclipse.flix.editor.FlixFindReferencesHandler"></command>
		<command defaultHandler="de.hetzge.eclipse.flix.FlixReconnectLanguageToolingHandler" id="de.hetzge.eclipse.flix.reconnectLanguageTooling" name="Reconnect Flix language tooling"></command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="M1+O" commandId="de.hetzge.eclipse.flix.editor.quickOutline" contextId="de.hetzge.eclipse.flix.editor.scope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
		<key sequence="M2+M3+R" commandId="de.hetzge.eclipse.flix.editor.rename" contextId="de.hetzge.eclipse.flix.editor.scope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
		<key sequence="M1+M2+T" commandId="de.hetzge.eclipse.flix.openSymbol" contextId="org.eclipse.ui.contexts.window" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
		<key sequence="M1+M2+G" commandId="de.hetzge.eclipse.flix.editor.findReferences" contextId="de.hetzge.eclipse.flix.editor.scope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"></key>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#FlixEditorContext?after=group.open">
			<!--         <command-->
			<!--               commandId="org.eclipse.ui.edit.text.open.hyperlink"-->
			<!--               style="push">-->
			<!--         </command>-->
			<command commandId="de.hetzge.eclipse.flix.editor.quickOutline" style="push"></command>
		</menuContribution>
		<menuContribution locationURI="popup:#FlixEditorContext?endof=group.edit">
			<menu id="de.hetzge.eclipse.flix.editor.refactoring.menu" label="Refactoring">
				<command commandId="de.hetzge.eclipse.flix.editor.rename" style="push"></command>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.projectConfigure">
			<command commandId="de.hetzge.eclipse.flix.nature.create" icon="assets/icons/icon.png" label="Convert to Flix project" style="push" tooltip="Convert to Flix project"></command>
		</menuContribution>
		<menuContribution locationURI="popup:#FlixEditorContext?after=group.find">
			<command commandId="de.hetzge.eclipse.flix.editor.findReferences" style="push"></command>
		</menuContribution>
		<menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions"><!-- https://blogs.itemis.com/auf-einen-blick-eclipse-actions-f%C3%BCr-project-und-package-explorer -->
			<menu icon="assets/icons/icon.png" label="Flix">
				<command commandId="de.hetzge.eclipse.flix.reconnectLanguageTooling" icon="assets/icons/icon.png" label="Reconnect Flix language tooling" style="push" tooltip="Reconnect Flix language tooling">
					<visibleWhen checkEnabled="false">
						<with variable="selection">
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject">
									<and>
										<test property="org.eclipse.core.resources.projectNature" value="de.hetzge.eclipse.flix.nature"></test>
									</and>
								</adapt>
							</iterate>
						</with>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension id="de.hetzge.eclipse.flix.nature" name="Flix Project Nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="de.hetzge.eclipse.flix.project.FlixProjectNature"></run>
		</runtime>
		<builder id="de.hetzge.eclipse.flix.flixBuilder"></builder>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image icon="assets/icons/icon.png" id="de.hetzge.eclipse.flix.natureImage" natureId="de.hetzge.eclipse.flix.nature"></image>
	</extension>
	<extension point="org.eclipse.tm.terminal.view.ui.launcherDelegates">
		<delegate class="org.eclipse.tm.terminal.connector.process.ProcessLauncherDelegate" hidden="true" id="de.hetzge.eclipse.flix.processLauncherDelegate" label="Flix Process Launch"></delegate>
	</extension>
	<extension id="flixBuilder" name="Flix Builder" point="org.eclipse.core.resources.builders">
		<builder callOnEmptyDelta="true" hasNature="true" isConfigurable="true" supportsConfigurations="true">
			<run class="de.hetzge.eclipse.flix.FlixProjectBuilder"></run>
		</builder>
	</extension>
	   <extension
      point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
           class="org.lxtk.lx4e.ui.codeaction.CodeMiningProvider"
           id="de.hetzge.eclipse.flix.editor"
           label="Flix Code Mining">
           <enabledWhen>
           	  <with variable="editorInput">
                 <adapt type="org.eclipse.core.resources.IFile">
                   <test property="org.eclipse.core.resources.contentTypeId" value="de.hetzge.eclipse.flix" />
                 </adapt>
           	  </with>
           </enabledWhen>
      </codeMiningProvider>
   </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="de.hetzge.eclipse.flix.FlixStandardLibraryTreeContentProvider"
             icon="assets/icons/icon.png"
             id="de.hetzge.eclipse.flix.standardLibraryNavigatorContent"
             labelProvider="de.hetzge.eclipse.flix.FlixStandardLibraryTreeLabelProvider"
             name="Flix Standard Library"
             priority="lowest">
          <enablement>
          	<instanceof
                 value="org.eclipse.core.resources.IWorkspaceRoot">
          	</instanceof>
<!--             <adapt type="org.eclipse.core.resources.IWorkspace">-->
<!--			 	<and>-->
<!--			 		<test property="org.eclipse.core.resources.projectNature" value="de.hetzge.eclipse.flix.nature"></test>-->
<!--			 	</and>-->
<!--			 </adapt>-->
          </enablement>
          <actionProvider
                class="de.hetzge.eclipse.flix.CommonActionProvider6">
          </actionProvider>
       </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension
                   pattern="de.hetzge.eclipse.flix.standardLibraryNavigatorContent">
             </contentExtension>
          </includes>
       </viewerContentBinding>
    </extension>
</plugin>
